html, body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    background-color: #A9BCD0;
}
label {
    padding-left: 8px;
}
form {
    margin-top: 5%;
    border: 5px solid #f1f1f1;
    border-radius: 15px;
    width: 45%;
    background-color: white;
}
input[type=text], input[type=password] {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 16px 8px;
    margin: 5px 0 20px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}
.note {
    padding: 1em 2em 2em;
    text-align:left;
    font-size: 1em;
}
button {
    background-color: #4286f4;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grab;
    width: 48%;
}
h1 {
    text-align:center;
    font-size:2em;
}
button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}
.container {
    padding: 16px 0;
    text-align:left;
}
span.psw {
    float: right;
    padding-top: 0;
    padding-bottom: 15px;
    padding-right: 15px;
}
/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 1.5em;
    }
    form {
        width: 90%;
    }
}